/* Configurações gerais */

/* Responsividade para telas maiores que 1024px - Desktops e Laptops */
@media screen and (min-width: 1024px) {
  
}

.home-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  padding: 2rem 4rem;
  overflow: hidden;
}

/* Responsividade para telas menores que 1024px - Tablets */
@media screen and (max-width: 1024px) {
  
}

/* Responsividade para telas menores que 768px - Smartphones */
@media screen and (max-width: 768px) {

  .home-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 60px;
    overflow: hidden;
  }

  .options-container {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
    gap: 1.5rem;
    padding: 1rem;
    width: 100%;
    height: 30% !important;
  
    button {
      height: 5rem;
      width: 5rem;
      border-radius: 50%;
      background-color: #f82167;
      border: none;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
  
      i {
        color: var(--white);
        font-size: 2rem;
      }
    }
  }
}


.filters-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 0.5rem;
  gap: 0.5rem;
}

.espiar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 2rem;
  border: 1px solid #ececec;
  border-radius: 150px;
  color: #6e6e6e;
  background: transparent;
}

.bi-filter {
  color: #ffffff;
}

.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 2rem;
  border: none;
  border-radius: 150px;
  background: var(--carmin);
  color: var(--white);
}

.hashtags {
  font-weight: 500;
  color: var(--gray-700);
}

.content {
  width: 100%;
  height: 85%;
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 1024px) {

  .home-container {
    height: 100%;
    padding: 1rem;
  }

  .content-image {
    width: 100%;
    height: 100%;
  }

  .info {
    display: none;
  }

  .info-reduzed {
    display: block;
    width: 100%;
  }

  .button {
    height: 4rem !important;
    width: 4rem !important;

    i {
      color: var(--white);
      font-size: 1.5rem;
    }
  }
    
}

.content-image {
  overflow: hidden;
  display: inline-block;
  position: relative;
  border-radius: 8px;
  border: none;
  width: 100%;
  height: 100%;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(10px);
}

.blur-container {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9), transparent);
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  position: absolute;
  top: 0;
}

@media screen and (min-width: 1024px) {
    .info {
      width: 100%;
      display: flex;
      flex-direction: column;
      padding: 0rem 2rem;
      gap: 1rem;
    }

    .info-reduzed {
      display: none;
    }
}


.bio {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 1.5rem;

  h4 {
    font-size: 1.2rem;
    color: var(--gray-900);
  }
}

.nome {
  color: var(--carmim);
  font-weight: bold;
  font-size: 2.5rem;
}

.bio-user {
  display: flex;
  font-weight: 400;
  color: var(--gray-700);
  font-size: 1rem;
}

.options-container {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
  gap: 1.5rem;
  padding: 1rem;
  width: 100%;

  .button {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    background-color: #f82167;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    i {
      color: var(--white);
      font-size: 2rem;
    }
  }
}

.card {
  width: 100%;
  background: #fff;
  padding: 15px;
  border-radius: 8px;
  border: 2px solid var(--gray-200);
}

.perguntas {
  width: 100%;
  height: 60rem;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  gap: 1rem;
}

/* Barra de rolagem para o questions */
.perguntas::-webkit-scrollbar {
  width: 12px;
}

.perguntas::-webkit-scrollbar-track {
  background: var(--gray-200);
}

.perguntas::-webkit-scrollbar-thumb {
  background: var(--gray-300);
  border-radius: 6px;
}

.perguntas::-webkit-scrollbar-thumb:hover {
  background: var(--gray-500);
}

.carousel-item img {
  object-fit: cover; /* Para cobrir a área do carrossel */
  height: 100%; /* Garante que a imagem ocupa a altura total do carrossel */
}